/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*****
*** TODO Needs majoir reworking, or cleaning at least..
*****/


@import "compass/reset";
@import 'mixins';
@import 'envision';

/************
** COLORS **/
$control-bg-color: #E3E3E3 /*#dddddd*/;
$control-mbg-color: #F9FAFF /*#f8f8f8*/; 
$highlight-color: #aa5500;
$widget-tt-bg: rgba(0,0,0,.5);
$widget-tt-margin: 3px;
$widget-tt-padding: .1em .3em;
$range-tt-arrow-length: 16px;
$range-tt-arrow-distance: 5px;


/************
** Layout **/
$left-row-width: 250px;
$filter-height: 500px;
$legend-height: 250px;
$timeline-height: 200px;
$timeline-min-height: 100px;
$controls-padding: 5px;
$map-margin: $controls-padding;


$left-row-width: 250px;
$body-padding: 1%;
$header-height: 4%;
$timeline-height: 25%;
$timeline-min-height: 140px;
$timelline-max-height: 280px;

$sidebar-height: 100%; //(100)-(2*($body-padding))-($header-height);
$filter-height: 60%;
$legend-height: (100)-($filter-height); /*(100)-(2*($body-padding))-($header-height)-($filter-height);*/

$controls-padding: 5px;
$box-padding: 10px;
$box-margin-v: 5px;
$map-padding: 0.2%;

/***********
** FANCY **/
$outer-border-radius: 8px;

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	min-height: 570px;
	position: relative;
}

body {
	//padding: $body-padding;
	//height: (100)-(4*($body-padding));
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.hover-tt {
	display: inline-block;
	padding: $widget-tt-padding;
	border-radius: ($outer-border-radius/4);
	background: $widget-tt-bg;
	color: white;
}

menu {
	background: $control-bg-color;
	padding: $controls-padding;
	@include border-radius($outer-border-radius);
	div {
		@include border-radius($outer-border-radius/2);
	}

}

menu#timefilter {
	height: $timeline-height;
	min-height: $timeline-min-height;
	max-height: $timelline-max-height;
	/*margin-left: ($left-row-width)-($controls-padding);*/

	#chart {
		background: white;
		/*height: $timeline-height;*/
		/*min-height: $timeline-min-height;*/
		height: 100%;
		margin-left: ($left-row-width)-($controls-padding);

		* {
			// prevent flickering highlights on interaction
			user-select: none;
		}


		.summary .flotr-labels {
			.flotr-grid-label {
				margin-top: -1.1em;
			}
			.last {
				right: 0;
				left: initial !important;
				text-align: right !important;
				margin-right: 4px;
			}
		}

		.detail {
			.flotr-labels {
				div {
					margin-left: 4px;
				}
				.last {
					display: none;
				}
			}
			.flotr-mouse-value {
				background: $widget-tt-bg !important;
				opacity: 1 !important;
				//right: $widget-tt-margin !important;
				//top: $widget-tt-margin !important;
				top: 103% !important;
				z-index: 9;
				//left: initial !important;
				left: $widget-tt-margin !important;
				padding: $widget-tt-padding !important;
				border-radius: ($outer-border-radius/4) !important;
				em {
					color: rgb(255, 219, 153);
					margin-right: .2em;
				}
			}
			&:active {
				cursor: ew-resize;
			}
		}

		.range-tt {
			position: absolute;
			z-index: 9;
			top: ($controls-padding + $widget-tt-margin);
			color: rgb(255, 219, 153);

			//&:before, &:after {
			.arrow {
				//content: "";
				border-color: rgba(0,0,0,0) $widget-tt-bg;
				border-style: solid;
				border-width: 0.5em 0 0.5em 0;
				display: block;
				height: 0;
				width: 0;
				top: 0.1em;
				position: absolute;
				z-index: 8;
				transition: all 0.3s;
			}
			.arrow-left {
				//border-width: 0.5em 0.75em 0.5em 0;
				border-right-width: $range-tt-arrow-length/2;
				left: -$range-tt-arrow-length/2;
				cursor: w-resize;
			}
			.arrow-right {
				//border-width: 0.5em 0 0.5em 0.75em;
				border-left-width: $range-tt-arrow-length/2;
				right: -$range-tt-arrow-length/2;
				cursor: e-resize;
			}
			//&:hover:before, &.draggin:before {
			// &.hintin .arrow-left, &:hover .arrow-left {
			// 	border-right-width: $range-tt-arrow-length;
			// 	left: -$range-tt-arrow-length - $range-tt-arrow-distance;
			// }
			// //&:hover:after, &.draggin:after {
			// &.hintin .arrow-right, &:hover .arrow-right {
			// 	border-left-width: $range-tt-arrow-length;
			// 	right: -$range-tt-arrow-length - $range-tt-arrow-distance;
			// }
			//&.draggin:before, &.draggin:after {
			.arrow:hover {
				border-color: rgba(0,0,0,0) rgb(248, 213, 150);
			}

			&#range-tt-min {
				left: $left-row-width + $widget-tt-margin + $range-tt-arrow-length + $range-tt-arrow-distance;
			}
			&#range-tt-max {
				right: $controls-padding + $widget-tt-margin + $range-tt-arrow-length + $range-tt-arrow-distance;
			}

			//opacity: 0.1;
			//transition: opacity 0.3s;
		}
		&:hover .range-tt {
			.arrow-left {
				border-right-width: $range-tt-arrow-length;
				left: -$range-tt-arrow-length - $range-tt-arrow-distance;
			}
			.arrow-right {
				border-left-width: $range-tt-arrow-length;
				right: -$range-tt-arrow-length - $range-tt-arrow-distance;
			}
		}
	}
}

#sidebar {
	height: $sidebar-height;
	width: $left-row-width;
	float: left;
	display: flex;
	flex-flow: column;

	&>div, &>header {
		flex: 0 1 auto;
		overflow: auto;
	}
}

#sidebar>menu{
	/*height: $filter-height;*/
	min-height: $timelline-max-height;
	
	div {
		/*height: 100-(2*($filter-padding));*/
		background: $control-mbg-color;
		padding: $box-padding;
		margin-bottom: $box-margin-v;
	}
	div:last-child {
		margin-bottom: 0;
	}
}

#sidebar>div {
	@include border-radius($outer-border-radius/2);
	border: 1px solid #ECECEC;
}

#filter {
	/*height: 100-(2*($filter-padding));d*/
	background: $control-mbg-color;
	padding: $box-padding;
}

#legend {
	//width: (($left-row-width)-($controls-padding)*2-($box-padding)*2);
	/*height: $legend-height;*/
	margin: $controls-padding;
	padding: $box-padding;
	background: $control-mbg-color;
}


#stuff {
	@extend #legend;
	font-size: .8em;
	line-height: 1em;
}

#cellinfo {
	@extend #legend;
	flex: 1 1 auto !important;
	padding: 0;
	//display: flex;
	//flex-flow: column;

	position: relative;

	div, table {
		//border: 1px black solid;
	}
	div {
		//flex: 0 1 auto;
	}
	.table-wrapper {
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;

		table {
			//flex: 1 1 auto;
			//position: absolute;
			//display: block;
			//display: table;
			width: 100%;

			thead, tbody {
				
				width: 100%;
			}

			tr {
				width: 100%;
		        display: flex;
		        text-align: left;
		        font-family: sans-serif;

				td,th {
					margin: 0 $box-padding;
					font-size: 0.8em;

			        &:first-child {
			        	float: left;
			        	width: 70%;
			        }
			        &:last-child {
			        	//float: right;
			        	text-align: right;
			        	width: 30%;
			        }

			        a {
			        	color: rgb(5, 19, 115);
			        }
		    	}
		    	th {
		    		font-size: 1em;
		    		margin-top: 0.1em;
		    	}
			}
			
			//height: 100%;

			padding: $box-padding;
			//display: flex;
			//flex-flow: column;
			thead {
				//flex: 0 1 auto;
				font-size: 1.1em;
				font-weight: bold;
				th:last-child {
					margin-right: 26px;
				}

				select {
					display: inline;
				}
			}
			tbody {
				position: absolute;
				top: 1.4em;
				bottom: 0;
				overflow-y: scroll;
				//float: left;
				tr {
					border-bottom: 1px solid rgba(0,0,0,0.06);
				}
			}
		}
	}
}

#map {
	height: (100) - (2*($map-padding)) - ($timeline-height);/*($filter-height)+($legend-height)-($timeline-height);*/
	/*margin: $map-margin;*/
	//padding: $map-padding;
	margin-left: ($left-row-width);/*+$map-margin;*/
	position: relative; //somehow breaks hovering?!

	#hud {
		position: absolute;
		//top: $widget-tt-margin;
		right: ($widget-tt-margin + $controls-padding);
		//background: rgba(255,255,255,.8);
		
		//padding: .5em;
		
		//border-radius: 0 0 5px 0;
		font-family: monospace;
		transition: opacity 0.2s;
		opacity: 0;
		//right: 0;
	}
	&:hover #hud {
		opacity: 1;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}


#bubble {
	position: absolute;
	bottom: 1337px;
	display: inline-block;
	text-align: right;
	min-width: 80px;
	/*height: 100px;*/
	background: rgba(225,245,255,.9);
	border: 2px solid rgba(170 ,85,0,.1);
	@include border-radius(3px);
	@include transition(all 0.6s);
	padding: .3em;
	pointer-events: none;
}

#bubble>span,
#legend span {
		font-size: .7em;
		color: rgba(0,0,0,.5);
		font-family: sans-serif;
	}


#sidebar header {
	h1 {
		clear: both;
		font-family: sans-serif;
		font-size: 1.6em;
		margin: 15px 15px 5px;
		font-weight: bold;

		span {
			font-size: .5em;
		}
	}

	#github_link {
		position: relative;
		float: left;
		width: 120px;
		margin: 0 15px;

		img {
			float: left;
		}

		img[src*=logo] {
			transition: .5s;
			position: absolute;
			left: 100px;
			opacity: 0;

		}
	}

	&:hover #github_link img[src*=logo] {
		left: 38px;
		opacity: 1;
	}
}

/************
*** Forms **/
select, label{
	display: block;
}

#controls {
	&>label {
		line-height: 1.5em;
		margin: .5em 0;
		display: inline-block;
		width: 74%;
	}

	input {
		display: inline-block;
		padding: 2%;
		margin: 0;
		border: none;
		vertical-align: middle;
		width: 100%;
	}

	input[type=text][readonly] {
		width: 14%;
		margin-left: 6%;
		text-align: center;
	}

}


/*#controls>label:after {
	border-bottom: 1px solid black;
	width: 100%;
	height: 1px;
	content: "";
}*/

button {
	width: 100%;
	border: 1px solid #ACACAC;
	background: #ECECEC;
	color: #000;
	@include border-radius($outer-border-radius/4);
	@include transition(all 0.5s);
	font-family: sans-serif;
	padding: .3em;
	@include box-shadow(0 -3px 3px -3px rgba(0, 0, 0, 0.2), 0 3px 3px -3px rgba(0, 0, 0, 0.2));
}
button:hover {
	color: #ffffff;
	background: #BBBED1;
	cursor: pointer;
	/*@include box-shadow(0 -3px 3px -3px rgba(100, 0, 0, 0.8), 0 3px 3px -3px rgba(100, 0, 0, 0.8));*/
}

button[disabled] {
	background: #ECECEC;
	cursor: default;
	color: #CFCFCF;
	@include box-shadow(none);
}

/*#reso-slider{
    display: inline;
    position: relative;


}
/*#reso-slider:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(data-tooltip);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 5;
    /*width: 220px;*
}
#reso-slider:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}*/


/***********
*** text **/
#filter {
	line-height: 1.5em;
}


em {
	font-style: italic;
	color: $highlight-color;
}


/************
*** fancy **/

menu>div {
	@include box-shadow(0 -2px 3px -1px rgba(0, 0, 0, 0.2), 0 2px 2px -1px rgba(0, 0, 0, 0.2));
}

/*#chart {
	@include box-shadow(1px -1px 3px rgba(0,0,0,0.3));
}*/


/****************
*** technical **/
#bubble {
	opacity: 0;
}



/********************
*** final imports **/
@import 'svg';