/////////////////////
// main style src //
///////////////////

// including lib styles
@import "../stylesheets/envision.css"
@import "../stylesheets/leaflet.css"

/////////////////////////////
/// variable declarations //
///////////////////////////

// chart (aka timeline)
chart-height = 200px
chart-mbottom = 5px

// some layout stuff
legend-width = 310px
controls-padding = 5px
box-padding = 10px

tt-margin = 3px
tt-padding = 0 .3em

// colors
menu-bg = rgba(0,0,0,.75)
menu-col = white
menu-highlight = #E09100
highlight-color = #aa5500


boxshadow = 1px 1px 2px rgba(0, 0, 0, 0.5)
boxshadow-inv = 1px -1px 2px rgba(0,0,0,0.5)



//////////////////////////////////////
/// general - elements and classes //
////////////////////////////////////
*
	box-sizing border-box

html, body
	height 100%
	min-height 570px
	font-size 14px
	font-family 'Oxygen', sans-serif

html, body, menu, div, p
	margin 0
	padding 0

body, body>*
	position absolute

body 
	overflow hidden
	top 0
	bottom 0
	right 0
	left 0


h2,h3,h4
	margin 0
	
h3
	font-size: 1.2rem
	
h4
	font-size: 1rem


em 
	font-style: italic;
	color: highlight-color;


.hover-tt 
	display: inline-block;
	padding: tt-padding
	background: menu-bg;
	color: menu-col;


// unobtrusive text
#bubble>span,
#info-area span 
	font-size: .8em;
	color: rgba(0,0,0,.5);
	font-family: sans-serif;

//////////////
/// header //
////////////
header
	position fixed
	z-index 10
	right -20px
	bottom 15px

	h1 
		clear: both;
		font-family: sans-serif;
		font-size: 1.6em;
		margin: 15px 15px 5px;
		font-weight: bold;

		span 
			font-size: .5em;
		

	#github_link 
		position: relative;
		float: left;
		width: 120px;
		margin: 0 15px;

		img[src*=octocat]
			float right
			margin-right 10px
			
		img[src*=logo] 
			float: left;
			transition: .5s;
			position: absolute;
			left: 100px;
			top: 0
			opacity: 0;

	&:hover #github_link img[src*=logo] 
		left: 0px;
		opacity: 1;


///////////////////////////////////////
/// upper part - chart aka timeline //
/////////////////////////////////////
@import chart

	
///////////
/// Map //
/////////
#map
	position absolute
	top chart-height + chart-mbottom
	bottom 0
	left 0
	right 0
	
	#leaflet 
		position: absolute;
		z-index: 2;
		background: transparent;
		*
			user-select: none;
		
	.leaflet-container 
		cursor: default;
		
	canvas 
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		pointer-events: none;
	
	.overlay 
		z-index: 4;
	

//#config
	//display none
	

/////////////////////////////
/// map hover info bubble //
///////////////////////////
#bubble 
	position: absolute;
	z-index: 999;
	bottom: 1337px;
	display: inline-block;
	text-align: right;
	min-width: 80px;
	background: rgba(225,245,255,.9);
	border: 2px solid rgba(170 ,85,0,.1);
	box-shadow boxshadow
	transition all 0.6s
	padding: .3em;
	pointer-events: none;


///////////////
/// imports //
/////////////
@import ui_widgets