/// Vars
menu-bg = rgba(0,0,0,.8)
menu-col = white
menu-highlight = #E09100
menu-vmargin = 5px
menu-icon-margin-right = 1rem
menu-icon-size = 2rem



#info-area, #widget-area
	position absolute
	left controls-padding
	z-index 11
	transition all 0.4s
	
	#legend, #main-menu
		width legend-width
		box-shadow boxshadow
		//margin box-padding 0
		//border 1px rgba(0,0,0,0.5) solid


/////////////////////////////////////////
/// info area - item table and legend //
///////////////////////////////////////
#info-area
	top 0

	#legend 
		background legend-bg
		margin menu-vmargin 0
		padding box-padding
		//position absolute
		//bottom -(chart-mbottom)
		//left 0

////////////////////////////////////////////
/// widget area - main control interface //
//////////////////////////////////////////
#widget-area
	bottom 0

	
	/*&>div, #menu-launcher
		padding box-padding
		background legend-bg
		margin box-padding 0*/
		
		
	


			
	
////////////////////////////////////////
/// main menu (child of widget area) //
//////////////////////////////////////
#main-menu 
	position relative
	top 5px	
	line-height: 1.2em;
	background menu-bg
	color menu-col
	transition all 0.4s

	&:hover 
		top 0
		background rgba(0,0,0,.8)
		color white

	em {
		color menu-highlight
	}

	/// LAUNCHER / description ///
	#menu-launcher
		position relative
		cursor pointer
		padding box-padding
		padding-right 0
		
		#menu-icon
			position absolute
			right menu-icon-margin-right
			top 50%
			margin-top -1rem
			height menu-icon-size
			width menu-icon-size
			
			use
				stroke-width 1
				stroke rgb(200,200,200)
				
		&:hover	#menu-icon use
			stroke white
		
		#dsdesc
			margin-right (menu-icon-margin-right + menu-icon-size)
			
			h4
				margin-bottom .2rem
			p 
				font-size 0.85rem


		.loading-box
			margin-right menu-icon-margin-right
			height 1rem
			border 1px rgba(255, 255, 255, 0.4) solid
			
			.loading-bar
				height 100%
				width 0
				background #2189B3
				font-size 0.8rem
				line-height 1rem
				text-align center


	//|\ LAUNCHER ///

	&>div
		margin-bottom menu-vmargin
		&:last-child
			margin-bottom 0
			
		&>fieldset
			padding box-padding

	&.hide-advanced .advanced 
		display none !important
		
	fieldset
		border none
		
	div>fieldset
		padding 0 box-padding	
		//margin-top: .5em;
		margin .5em 0 0
		&:last-child 
			padding-bottom: box-padding;
			
	.fieldgroup
		border: 2px rgba(208, 208, 208, 0.1) solid
		//border-radius: 0 0 $outer-border-radius/2 $outer-border-radius/2;
		&>legend 
			font-family: sans-serif;
		input[type=checkbox] 
			margin-bottom box-padding
	
	h2+.fieldgroup 
		margin-top: 0;
		
	h2 
		//border: 1px orange solid;
		//border-radius: ($outer-border-radius/2) ($outer-border-radius/2) 0 0;
		background: #777;
		font-family: sans-serif;
		font-size: 14px;
		line-height: 20px;
		padding: 0px box-padding;
		color: white;
		cursor: pointer;
		height: 20px;
		&:hover 
			/* text-shadow: 1px 0px 0px orange, -1px 0px 0 orange, 0 1px 0 orange, 0 -1px 0 orange; */
			/* padding-left: 20px; */
			//color: rgb(255, 234, 197);
			//font-weight: bold;
			background: #666;
			//$tsc: rgba(255,255,255,0.6);
			//text-shadow: 1px 0 0 $tsc, -1px 0 0 $tsc, 0 1px 0 $tsc, 0 -1px 0 $tsc;

		&:after 
			content: '';
			height: 8px;
			width: 8px;
			border: 2px white solid;
			float: right;
			transform: rotate(135deg);
			border-style: solid solid none none;
			transition: transform 0.4s, top 0.4s, border-width 0s;
			position: relative;
			top: 3px;
			right: menu-icon-margin-right
			
		&.closed:after 
			transform: rotate(45deg);
			top: 5px;
		
		&:hover:after 
			border-width: 3px;
		



#widget-area.open
	margin-bottom 0 !important
	#legend
		display none
		
	#main-menu

		top 0px
		#menu-launcher
			//background transparent
			//top 0
			#menu-icon use
				stroke white
			&:hover #menu-icon use
				stroke rgb(200,200,200)


#widget-area.init 
	opacity 0
	

////////////////////////
/// dataset selector //
//////////////////////

#filter fieldset
	

	.group-container
		//background transparent
		
		&.open
			background rgba(4, 20, 71, 0.4)
			border-radius: 0 0 4px 4px;
			h4
				border 1px rgba(27, 36, 60, 1) solid
		h4
			background rgba(119, 119, 119, 0.3)
			padding .4em .5em
			box-shadow boxshadow

		&>div
			cursor pointer
			display none
			padding 0 1em
			height 20px
			font-size 14px
			line-height 20px
			
			
			&:hover
				background rgba(menu-highlight, 0.2)
			&.selected
				//background rgba(menu-highlight, 0.8)
				font-weight bold

/// dataset tooltips
.tooltip 
	display: inline;
	position: relative;

	&:before, &:after 
		transition: all  .2s;
		opacity: 0;
		pointer-events: none;


	&:hover:before, &:hover:after
		opacity: 1;
		//pointer-events: auto;

	&:after 
		content: attr(data-tt);
		display: block;
		position: absolute;
		background: menu-bg
		color: menu-col
		font-size: 1.1em;
		line-height: 1.1em;
		width: 10rem
		top: -100%;
		left: 100%;
		margin-top: 17px // matches baseline of dataset label text
		margin-left: box-padding
		padding: .4em .8em;
		text-align: left;

		box-shadow: boxshadow // 0px 1px 2px rgba(0, 0, 0, 0.25);
		z-index: 9998;


	&:before 
		border: solid;
		border-color: transparent transparent transparent rgba(menu-highlight, 0.2);
		border-width: 10px 0 10px 10px;
		content: "";
		display: block;
		width: 0;
		left: 100%;
		top: 50%;
		margin-top: -10px;
		position: absolute;
		z-index: 9999;




///////////////////////
/// form appearance //
/////////////////////

select, label
	display: inline;
	
// todo
input[type="checkbox"]:checked + label {
 	background black
}
/*menu select
	background transparent
	border none
	color white
	width 100%
	

	&::-webkit-scrollbar {
	    height: 12px;
	    width: 12px;
	    background: #000;
	}

	&::-webkit-scrollbar-thumb {
		background: #393812;
	    border-radius: 1ex;
	    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
	}

	&::-webkit-scrollbar-corner {
	    background: #000;
	}
	
	
	&:active, &:focus
		//border none
		outline none
	option
		//padding .4em
		position relative
		cursor pointer
		
		&.selected:before
			content 'bla'
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background green			
		
		&:after
			content 'bla'
			float right
			
		
		&:hover
			background rgba(170, 85, 0, 0.25)
			//color yelllow
			//font-weight bold	
		&:focus
			background rgba(170, 85, 0, 0.75)
		&.selected
			background rgba(170, 85, 0, 0.75)
*/
menu .controls 
	.slider 
		line-height: 1.5em;
		//margin: .5em 0;
		//display: inline-block;
		width: 100%;
		// input {
		// 	display: inline-block;
		// 	width: 80%;
		// 	&:last-child {
		// 		width: 20%;
		// 	}
		// }
		legend 
			margin-bottom: -.5em;


	

	input[type=range]//, input[type=text] 
		display: inline-block;
		//padding: 2%;
		margin: 0;
		border: none;
		vertical-align: middle;
		width: 100%;

	/*input[type=text][readonly] 
		width: 14%;
		margin-left: 2%;
		text-align: center;*/
	

	input[type=range] 
		-webkit-appearance: none;
	

	input[type=range]::-webkit-slider-runnable-track {
	    height: 3px
	    //background: yelllow //rgba(255,255,255,0.1)
	    background rgb(144, 144, 144)
	    border: none;
	    border-radius: 1px;
	}

	input[type=range]::-webkit-slider-thumb  {
	    -webkit-appearance: none;
	    border: none;
	    height: 16px;
	    width: 16px;
	    border-radius: 8px;
	    background: #a9a9a9;
	    margin-top: -7px;
	    transition: background 0.4s;
	}

	input[type=range]:active::-webkit-slider-thumb,
	input[type=range]:hover::-webkit-slider-thumb {
		background: #aa5500;
		cursor: pointer;
	}

	input[type=range]:disabled::-webkit-slider-thumb {
		background: #d8d8d8;
		cursor: default;
	}

	input[type=range]:focus {
	    outline: none;
	}
	

	input[type=range]:active::-webkit-slider-runnable-track {
	    background: #ccc;	
	}
	
	input[value=1]::-webkit-slider-thumb {
		background red !important
	}
	input[value=1.0]::-webkit-slider-thumb {
		background red !important
	}


	// for num in (1..10)
	// 	input[type=range].valuepc-{num}::-webkit-slider-thumb {
	// 		height (6+num*2)px
	// 		width (6+num*2)px
	// 		border-radius (3+num)px
	// 		margin-top -(2+num)px
	// 	}