/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*****
*** TODO Needs majoir reworking, or cleaning at least..
*****/
/* line 5, ../../../../../home/psilux/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../home/psilux/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../home/psilux/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../home/psilux/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../home/psilux/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../home/psilux/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../home/psilux/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../home/psilux/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../home/psilux/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/************
** MIXINS **/
/* Flotr */
/* line 2, ../sass/_envision.scss */
.flotr-handles-handle {
  background: #eee;
  border: 1px solid #333;
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
}

/* line 9, ../sass/_envision.scss */
.flotr-handles-handle,
.flotr-grid-label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 17, ../sass/_envision.scss */
.flotr-handles-drag {
  height: 12px;
  width: 6px;
}

/* line 21, ../sass/_envision.scss */
.flotr-handles-scroll {
  height: 6px;
  cursor: move;
}

/* line 25, ../sass/_envision.scss */
.flotr-handles-left {
  cursor: w-resize;
}

/* line 28, ../sass/_envision.scss */
.flotr-handles-right {
  cursor: e-resize;
}

/* Dimensions */
/* line 34, ../sass/_envision.scss */
.envision-finance {
  width: 600px;
}

/* line 37, ../sass/_envision.scss */
.envision-finance-price .envision-component {
  height: 200px;
}

/* line 40, ../sass/_envision.scss */
.envision-finance-volume .envision-component {
  height: 60px;
}

/* line 43, ../sass/_envision.scss */
.envision-finance-connection .envision-component {
  height: 16px;
}

/* line 46, ../sass/_envision.scss */
.envision-finance-summary .envision-component {
  cursor: all-scroll;
  height: 70px;
  margin-top: -2px;
}

/* Bubble Borders */
/* line 53, ../sass/_envision.scss */
.envision-finance-price,
.envision-finance-volume {
  border: 1px solid #B6D9FF;
  background: #fff;
}

/* line 58, ../sass/_envision.scss */
.envision-finance-price {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* line 62, ../sass/_envision.scss */
.envision-finance-volume {
  border-top: 0px;
}

/* Connection overlay */
/* line 67, ../sass/_envision.scss */
.envision-finance-connection canvas {
  z-index: 10;
  background: #fff;
}

/* line 71, ../sass/_envision.scss */
.envision-finance-connection canvas object {
  position: absolute;
  top: 0px;
}

/* Y-Axis Labels */
/* line 77, ../sass/_envision.scss */
.envision-finance-price .flotr-grid-label {
  margin-left: 4px;
}

/* line 80, ../sass/_envision.scss */
.envision-finance-price .flotr-grid-label.first {
  margin-top: -6px;
}

/* line 83, ../sass/_envision.scss */
.envision-finance-price .flotr-grid-label.last {
  margin-top: 6px;
}

/* X-Axis Labels */
/* line 88, ../sass/_envision.scss */
.envision-finance-summary .flotr-grid-label {
  margin-top: 3px;
}

/* Mouse Tracker */
/* line 93, ../sass/_envision.scss */
.envision-finance-price .flotr-mouse-value {
  font-size: 12px;
}

/* line 96, ../sass/_envision.scss */
.envision-finance-volume .flotr-mouse-value {
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 101, ../sass/_envision.scss */
  .envision-finance {
    width: 100%;
  }

  /* line 104, ../sass/_envision.scss */
  .envision-finance-price .envision-component {
    height: 120px;
  }

  /* line 107, ../sass/_envision.scss */
  .envision-finance-summary .envision-component,
  .envision-finance-volume .envision-component {
    height: 40px;
  }
}
/* Dimensions */
/* line 114, ../sass/_envision.scss */
.envision-timeseries {
  width: auto;
}

/* line 117, ../sass/_envision.scss */
.envision-timeseries-detail .envision-component {
  height: 200px;
}

/* line 120, ../sass/_envision.scss */
.envision-timeseries-connection .envision-component {
  height: 16px;
}

/* line 123, ../sass/_envision.scss */
.envision-timeseries-summary .envision-component {
  cursor: all-scroll;
  height: 80px;
}

/* Bubble Borders */
/* line 129, ../sass/_envision.scss */
.envision-timeseries-detail {
  padding-top: 7px;
  border: 1px solid #B6D9FF;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 0px;
  background: #e2f0ff;
}

/* Connection overlay */
/* line 139, ../sass/_envision.scss */
.envision-timeseries-connection canvas {
  z-index: 10;
  background: #fff;
}

/* line 143, ../sass/_envision.scss */
.envision-timeseries-connection canvas object {
  position: absolute;
  top: 0px;
}

/* line 147, ../sass/_envision.scss */
.envision-timeseries-summary .envision-component {
  margin-top: -2px;
}

/************
** COLORS **/
/************
** Layout **/
/*(100)-(2*($body-padding))-($header-height)-($filter-height);*/
/***********
** FANCY **/
/* line 56, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 60, ../sass/screen.scss */
html {
  height: 100%;
  min-height: 570px;
  position: relative;
}

/* line 66, ../sass/screen.scss */
body {
  padding: 0;
  height: 100%;
}

/* line 73, ../sass/screen.scss */
.hover-tt {
  display: inline-block;
  padding: 0.1em 0.3em;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

/* line 81, ../sass/screen.scss */
menu {
  background: #E3E3E3;
  padding: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
/* line 85, ../sass/screen.scss */
menu div {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

/* line 91, ../sass/screen.scss */
menu#timefilter {
  height: 25%;
  min-height: 140px;
  max-height: 280px;
  /*margin-left: ($left-row-width)-($controls-padding);*/
}
/* line 97, ../sass/screen.scss */
menu#timefilter #chart {
  background: white;
  /*height: $timeline-height;*/
  /*min-height: $timeline-min-height;*/
  height: 100%;
  margin-left: 245px;
}
/* line 106, ../sass/screen.scss */
menu#timefilter #chart .summary .flotr-labels .flotr-grid-label {
  margin-top: -1.1em;
}
/* line 109, ../sass/screen.scss */
menu#timefilter #chart .summary .flotr-labels .last {
  right: 0;
  left: initial !important;
  text-align: right !important;
  margin-right: 4px;
}
/* line 119, ../sass/screen.scss */
menu#timefilter #chart .detail .flotr-labels div {
  margin-left: 4px;
}
/* line 122, ../sass/screen.scss */
menu#timefilter #chart .detail .flotr-labels .last {
  display: none;
}
/* line 126, ../sass/screen.scss */
menu#timefilter #chart .detail .flotr-mouse-value {
  background: rgba(0, 0, 0, 0.6) !important;
  opacity: 1 !important;
  right: 3px !important;
  top: 3px !important;
  left: initial !important;
  padding: 0.1em 0.3em !important;
  border-radius: 2px !important;
}
/* line 134, ../sass/screen.scss */
menu#timefilter #chart .detail .flotr-mouse-value em {
  color: #ffdb99;
  margin-right: .2em;
}
/* line 141, ../sass/screen.scss */
menu#timefilter #chart .range-tt {
  position: absolute;
  top: 8px;
  color: #ffdb99;
}
/* line 146, ../sass/screen.scss */
menu#timefilter #chart .range-tt#range-tt-min {
  left: 253px;
}
/* line 149, ../sass/screen.scss */
menu#timefilter #chart .range-tt#range-tt-max {
  right: 8px;
}

/* line 156, ../sass/screen.scss */
#sidebar {
  height: 100%;
  width: 250px;
  float: left;
  display: flex;
  flex-flow: column;
}
/* line 163, ../sass/screen.scss */
#sidebar > div, #sidebar > header {
  flex: 0 1 auto;
  overflow: auto;
}

/* line 169, ../sass/screen.scss */
#sidebar > menu {
  /*height: $filter-height;*/
  min-height: 280px;
}
/* line 173, ../sass/screen.scss */
#sidebar > menu div {
  /*height: 100-(2*($filter-padding));*/
  background: #F9FAFF;
  padding: 10px;
  margin-bottom: 5px;
}
/* line 179, ../sass/screen.scss */
#sidebar > menu div:last-child {
  margin-bottom: 0;
}

/* line 184, ../sass/screen.scss */
#sidebar > div {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ECECEC;
}

/* line 189, ../sass/screen.scss */
#filter {
  /*height: 100-(2*($filter-padding));d*/
  background: #F9FAFF;
  padding: 10px;
}

/* line 195, ../sass/screen.scss */
#legend, #stuff, #cellinfo {
  /*height: $legend-height;*/
  margin: 5px;
  padding: 10px;
  background: #F9FAFF;
}

/* line 204, ../sass/screen.scss */
#stuff {
  font-size: .8em;
  line-height: 1em;
}

/* line 210, ../sass/screen.scss */
#cellinfo {
  flex: 1 1 auto !important;
  padding: 0;
  position: relative;
}
/* line 225, ../sass/screen.scss */
#cellinfo .table-wrapper {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 231, ../sass/screen.scss */
#cellinfo .table-wrapper table {
  width: 100%;
  padding: 10px;
}
/* line 238, ../sass/screen.scss */
#cellinfo .table-wrapper table thead, #cellinfo .table-wrapper table tbody {
  width: 100%;
}
/* line 243, ../sass/screen.scss */
#cellinfo .table-wrapper table tr {
  width: 100%;
  display: flex;
  text-align: left;
  font-family: sans-serif;
}
/* line 249, ../sass/screen.scss */
#cellinfo .table-wrapper table tr td, #cellinfo .table-wrapper table tr th {
  margin: 0 10px;
  font-size: 0.8em;
}
/* line 253, ../sass/screen.scss */
#cellinfo .table-wrapper table tr td:first-child, #cellinfo .table-wrapper table tr th:first-child {
  float: left;
  width: 70%;
}
/* line 257, ../sass/screen.scss */
#cellinfo .table-wrapper table tr td:last-child, #cellinfo .table-wrapper table tr th:last-child {
  text-align: right;
  width: 30%;
}
/* line 263, ../sass/screen.scss */
#cellinfo .table-wrapper table tr td a, #cellinfo .table-wrapper table tr th a {
  color: #051373;
}
/* line 267, ../sass/screen.scss */
#cellinfo .table-wrapper table tr th {
  font-size: 1em;
  margin-top: 0.1em;
}
/* line 278, ../sass/screen.scss */
#cellinfo .table-wrapper table thead {
  font-size: 1.1em;
  font-weight: bold;
}
/* line 282, ../sass/screen.scss */
#cellinfo .table-wrapper table thead th:last-child {
  margin-right: 26px;
}
/* line 286, ../sass/screen.scss */
#cellinfo .table-wrapper table thead select {
  display: inline;
}
/* line 290, ../sass/screen.scss */
#cellinfo .table-wrapper table tbody {
  position: absolute;
  top: 1.4em;
  bottom: 0;
  overflow-y: scroll;
}
/* line 296, ../sass/screen.scss */
#cellinfo .table-wrapper table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

/* line 304, ../sass/screen.scss */
#map {
  height: 74.6%;
  /*($filter-height)+($legend-height)-($timeline-height);*/
  /*margin: $map-margin;*/
  margin-left: 250px;
  /*+$map-margin;*/
  position: relative;
}
/* line 311, ../sass/screen.scss */
#map #hud {
  position: absolute;
  right: 8px;
  font-family: monospace;
  transition: opacity 0.2s;
  opacity: 0;
}
/* line 325, ../sass/screen.scss */
#map:hover #hud {
  opacity: 1;
}

/* line 330, ../sass/screen.scss */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* line 338, ../sass/screen.scss */
#bubble {
  position: absolute;
  bottom: 1337px;
  display: inline-block;
  text-align: right;
  min-width: 80px;
  /*height: 100px;*/
  background: rgba(225, 245, 255, 0.9);
  border: 2px solid rgba(170, 85, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  padding: .3em;
  pointer-events: none;
}

/* line 353, ../sass/screen.scss */
#bubble > span,
#legend span,
#stuff span,
#cellinfo span {
  font-size: .7em;
  color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
}

/* line 362, ../sass/screen.scss */
#sidebar header h1 {
  clear: both;
  font-family: sans-serif;
  font-size: 1.6em;
  margin: 15px 15px 5px;
  font-weight: bold;
}
/* line 369, ../sass/screen.scss */
#sidebar header h1 span {
  font-size: .5em;
}
/* line 374, ../sass/screen.scss */
#sidebar header #github_link {
  position: relative;
  float: left;
  width: 120px;
  margin: 0 15px;
}
/* line 380, ../sass/screen.scss */
#sidebar header #github_link img {
  float: left;
}
/* line 384, ../sass/screen.scss */
#sidebar header #github_link img[src*=logo] {
  transition: .5s;
  position: absolute;
  left: 100px;
  opacity: 0;
}
/* line 393, ../sass/screen.scss */
#sidebar header:hover #github_link img[src*=logo] {
  left: 38px;
  opacity: 1;
}

/************
*** Forms **/
/* line 401, ../sass/screen.scss */
select, label {
  display: block;
}

/* line 406, ../sass/screen.scss */
#controls > label {
  line-height: 1.5em;
  margin: .5em 0;
  display: inline-block;
  width: 74%;
}
/* line 413, ../sass/screen.scss */
#controls input {
  display: inline-block;
  padding: 2%;
  margin: 0;
  border: none;
  vertical-align: middle;
  width: 100%;
}
/* line 422, ../sass/screen.scss */
#controls input[type=text][readonly] {
  width: 14%;
  margin-left: 6%;
  text-align: center;
}

/*#controls>label:after {
	border-bottom: 1px solid black;
	width: 100%;
	height: 1px;
	content: "";
}*/
/* line 438, ../sass/screen.scss */
button {
  width: 100%;
  border: 1px solid #ACACAC;
  background: #ECECEC;
  color: #000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-family: sans-serif;
  padding: .3em;
  -moz-box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, 0.2), 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, 0.2), 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, 0.2), 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

/* line 449, ../sass/screen.scss */
button:hover {
  color: #ffffff;
  background: #BBBED1;
  cursor: pointer;
  /*@include box-shadow(0 -3px 3px -3px rgba(100, 0, 0, 0.8), 0 3px 3px -3px rgba(100, 0, 0, 0.8));*/
}

/* line 456, ../sass/screen.scss */
button[disabled] {
  background: #ECECEC;
  cursor: default;
  color: #CFCFCF;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*#reso-slider{
    display: inline;
    position: relative;


}
/*#reso-slider:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(data-tooltip);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 5;
    /*width: 220px;*
}
#reso-slider:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}*/
/***********
*** text **/
/* line 496, ../sass/screen.scss */
#filter {
  line-height: 1.5em;
}

/* line 501, ../sass/screen.scss */
em {
  font-style: italic;
  color: #aa5500;
}

/************
*** fancy **/
/* line 510, ../sass/screen.scss */
menu > div {
  -moz-box-shadow: 0 -2px 3px -1px rgba(0, 0, 0, 0.2), 0 2px 2px -1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 -2px 3px -1px rgba(0, 0, 0, 0.2), 0 2px 2px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 3px -1px rgba(0, 0, 0, 0.2), 0 2px 2px -1px rgba(0, 0, 0, 0.2);
}

/*#chart {
	@include box-shadow(1px -1px 3px rgba(0,0,0,0.3));
}*/
/****************
*** technical **/
/* line 521, ../sass/screen.scss */
#bubble {
  opacity: 0;
}

/********************
*** final imports **/
/* line 3, ../sass/_svg.scss */
svg circle:hover {
  fill: #aa5500;
  /*stroke: $highlight-color;
  /*stroke-width: 1%;*/
}
/* line 9, ../sass/_svg.scss */
svg circle {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 13, ../sass/_svg.scss */
svg image {
  opacity: 0.5;
}
